.results {
    text-align: left;
}

.item .title {
    font-size: x-large;
    font-weight: bold;
}

body{
    background-attachment: fixed;
    background-image:url(../913983.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
p{
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.input {
    width: 80%;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    transition: 0.3s;
   }
   
   .input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: i 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
    transition: 0.3s;
   }
/*.input {
    
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
    font-size: 15px;
    font-weight: bold;
    max-width: 9999px;
   }
   
   .input:focus {
    outline-color: white;
    place-content: "Enter your message!";
   }
   */
   button {
    
    position: relative;
    top: -3.2rem;
    left: 45%;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18   px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   button:hover {
    border: 1px solid white;
   }
   
   button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }


.item {
    width: auto;
    height: auto;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 8px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .item-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: initial;
   }
   
   .item-button {
    transform: translate(-50%, 125%);
    width: 20%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: relative;
    left: 46%;
    bottom: 0;
    opacity: 0;
    transition: 1.5s ease-out;
    
    
   }
 
   .item.title{
    font-size: x-large;
    font-weight: normal;
    
   }
   a{
    color: #0000CD;
    text-decoration: none;
    text-align: center;
   }
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   .item .dt {
    color: #6e6b80;
    font-size: 0.8rem;
    text-align: right;
  }

   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   
   .item:hover {
    border-color: #008bf8;
    transform: scale(1.02);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .item:hover .item-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

   